n8n-workflow.json
{
  "name": "Chipre - Form to Sheets + MailerLite",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chipre-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chipre-form"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-nombre",
              "name": "nombre",
              "value": "={{ $json.body.nombre }}",
              "type": "string"
            },
            {
              "id": "field-email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "field-telefono",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "field-ingresos",
              "name": "ingresos",
              "value": "={{ $json.body.ingresos }}",
              "type": "string"
            },
            {
              "id": "field-fecha",
              "name": "fecha",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-fields-node",
      "name": "Set Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets-node",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [690, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://connect.mailerlite.com/api/subscribers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"email\": \"{{ $('Set Fields').item.json.email }}\",\n  \"fields\": {\n    \"name\": \"{{ $('Set Fields').item.json.nombre }}\",\n    \"phone\": \"{{ $('Set Fields').item.json.telefono }}\",\n    \"company\": \"{{ $('Set Fields').item.json.ingresos }}\"\n  },\n  \"groups\": [\"YOUR_MAILERLITE_GROUP_ID\"]\n}",
        "options": {}
      },
      "id": "mailerlite-add-subscriber",
      "name": "MailerLite - Add Subscriber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_MAILERLITE_CREDENTIAL_ID",
          "name": "MailerLite API"
        }
      },
      "notes": "Create an HTTP Header Auth credential in n8n with: Name=Authorization, Value=Bearer YOUR_MAILERLITE_API_KEY. Replace YOUR_MAILERLITE_GROUP_ID with the group ID that triggers your automation."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Datos recibidos correctamente\" }",
        "options": {}
      },
      "id": "response-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "MailerLite - Add Subscriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite - Add Subscriber": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  }
}
